.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

h1 {
  font-size: 60px;
}

form {
  margin-bottom: 3px;
}

form > input {
  padding: 2px;
}

ul {
  display: flex;
  align-items: center;
}

.note-item {
	font-size: 25px;
	padding: 3px;
	list-style: none;
}

.note-item > span {
	cursor: pointer;
}